.product-card {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.product-card:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Botón oculto por defecto */
/* Botón base */
.btn-add-to-cart {

  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border: 2px solid var(--bs-danger);
  background-color: transparent;
  color: var(--bs-danger);
  border-radius: 8px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Hover: relleno y cambio de color */
.btn-add-to-cart:hover {
  background-color: var(--bs-danger);
  color: #fff;
}
